h1 {
  font-size: clamp(2rem, 1.5385rem + 2.0513vw, 4rem);
  /* @apply text-7xl; */
  /* font-size: var(--tws_base_fs); */
  @apply pb-4;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1rem;
}
p {
  /* font-size: 1rem; */
  @apply mb-6 text-xl;
}
/* } */
