:root {
  --tws_page_maxwidth: 3840px;
  --tws_page_minwidth: 320px;
  --tws_row_bg_color: rgb(173, 54, 74);
  --tws_row_container: 1536px;
  --tws_page_container: 3840px;
  --tws_color_one: #848587;

  /* row paddings */

  --tws_horizontal_row_padding: clamp(1rem, 0.3878rem + 2.7211vw, 3rem);
  --tws_vertical_row_padding: clamp(1rem, 0.6939rem + 1.3605vw, 2rem);

  /* column paddings */
  --tws_col_x_padding: 1rem;
  --tws_col_y_padding: 1rem;
  --tws_col_padding: 1rem;

  /* z-indexes */
  --tws_zindex_999: 999;

  /* font sizes */

  /* colors*/
  --tws_color1: #e3e3e3;
  --tws_color2: #49beaa;
  --tws_color3: #003d91;
  --tws_color4: #8da9c4;
  --tws_color5: #2e3d4e;
  --tws_color6: #349b8a;
  --tws_color7: #000000;
  --tws_color8: #ff0000;
  --tws_color9: #c90910;
  --tws_color10: #f7f7f7;
  --tws_color11: #e5b955;
}

/* colors */

.col-4 {
  @apply col-span-12  md:col-span-4 xl:col-span-6;
}

.col-8 {
  @apply col-span-12 md:col-span-8 xl:col-span-6;
}
